@import "../../styles/styles.scss";

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: $shadowWrapper;
}

.modal-box {
    // max-width: 560px;
    max-width: 80vw;
    // width: 100%;   
    max-height: 80vw;
    // height: auto;
    margin: 0 auto;
    padding: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    border: 1px solid $blueBorder;
    border-radius: 16px;
    box-shadow: 0 0 10px $colorWhiteTransparent;
    background-color: $colorWhite;
    position: absolute;    
    top: 50%;
    left: 50%;
    z-index: 200;
    transform: translate(-50%, -50%);
    
    & .modal-header {
        color: $colorGreyDark;
        font-family: Inter;
        font-size: 2em;
    }

    & .modal-header__img {
        background-color: $colorWhite;
        width: 240px;
        height: 240px;
        flex-shrink: 0;
        object-fit: contain;
    }

    & .modal-body {
        color: $colorGreyLight;
        text-align: center;
        font-family: Roboto;
        font-size: 1.5em;
        font-weight: 500;
    }

    & .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border-color: transparent;
        cursor: pointer;
    }
}

.modal-footer {
    display: flex;
    align-items: center;
    column-gap: 10px;
}